/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.btn {
    padding: 10px 24px;
    color: #ffffff;
    background-color: #E02C6D;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    z-index: 2;
    display: inline-block;
    transition: .5s ease;
    overflow: hidden;
}

.btn::before {
    content: "";
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: .3s ease;
    transition-delay: 0.5s;
    z-index: -1;
}

.btn::after {
    content: "";
    position: absolute;
    background: #ffffff;
    width: 100%;
    height: 2px;
    top: -2px;
    left: 0;
    transition: .5s ease;
    z-index: 1;
}

.btn:hover {
    color: #E02C6D;
}

.btn i {
    margin-left: 8px;
}

.btn:hover::before {
    left: 0;
}

.btn:hover::after {
    top: 100%;
}

.btn:hover i {
    position: relative;
    left: 10px;
}

.container {
    width: 80%;
    margin: auto;
}

/* header */
header {
    background-color: #2D25A0;
    height: 677px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 140px 0 156px;
}


.banner_info h1 {
    font-size: 64px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px;
}

.banner_image img {
    width: 556px;
    height: 438pxs;
}

/* main */
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* players_sec */
.players_sec {
    padding: 70px 0;
}

.players_sec .players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 28px;
    grid-column-gap: 30px;
}

.player {
    padding: 10px;
    box-shadow: 0 0 30px #b3afaf;
}

.players .player img {
    width: 100%;
}

.players .player h3 {
    color: #18191F;
    font-size: 28px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 10px;
}

.players .player p {
    width: 300px;
    color: #6C6C6C;
    font-weight: 400;
}

/* womens_football */
.womens_football {
    background: url(img/bg-grey.jpg) no-repeat;
    background-size: cover;
    padding: 20px 100px 70px;
}

.womens_top_title {
    text-align: center;
}

.womens_top_title h1 {
    font-size: 40px;
    margin: 0;
}

.womens_top_title p {
    margin-bottom: 50px;
}

.womens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.women {
    width: 363px;
    height: 426px;
    overflow: hidden;
    position: relative;
}

.women:hover img {
    transform: scale(1.3);
}

.women img {
    width: 100%;
    height: 200px;
    margin-bottom: -7px;
    transition: 0.3s ease;
    z-index: 2;
    position: absolute;
    top: 0;
}

.women_info {
    padding: 15px 20px 50px;
    background: #23527c;
    z-index: 99;
    position: absolute;
    bottom: 0;
}

.women_info h3 {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 10px;
}

.women_info p {
    color: #ffffff;
    font-weight: 400;
}

/* top_news */

.top_news_title {
    text-align: center;
    font-size: 60px;
}

.nwes_wrap {
    display: flex;
}

.news_images {
    width: 60%;
}

.news_content {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.news_images img {
    width: 100%;
}

.news_content h2 {
    font-size: 25px;
    font-weight: 500;
}

.news_content p {
    color: #6d6a7f;
}

.news_date span {
    color: #000000;
}

.news_date span:last-child {
    color: #6C6C6C;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
}


/* footer_section */
.footer_sec {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer_logo {
    margin-top: 158px;
}

.footer_logo img {
    width: 483.87px;
}

.footer_social_icon {
    padding: 20px 0;
    display: flex;
}

.footer_social_icon a {
    color: #969BAB;
    font-size: 18px;
    margin: 0 7px;
    width: 32px;
    height: 32px;
    background: #969bab6c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.3s ease;
}

.footer_social_icon a:hover {
    background: #E02C6D;
    transform: scale(1.5);
}

.footer_social_icon a:hover i {
    color: #ffffff;
}

.copywrite p {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 63px;
}